@import "tailwindcss";

/* In v4, you can just use the @theme block or standard CSS */
@theme {
  --color-primary: #3b82f6;
}

/* Custom components in v4 are just written as standard CSS */
/* Use @utility if you want them to behave like Tailwind classes */

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-gray-100);
  padding-left: 1rem;
  padding-right: 1rem;
}

button{
  cursor: pointer;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

h1{
  font-size: 300%;
  font-weight: bold
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
