@import "tailwindcss";

html, body{
  height: 100%;
}

hr{
  margin: 0;
}

section{
  margin: 25px;
  /* text-align: center; */
}

/* h1, p{
  text-align: center;
} */

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-gray-100);
  padding-left: 1rem;
  padding-right: 1rem;
}

button{
  cursor: pointer;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

h1{
  font-size: 300%;
  font-weight: bold
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
